* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background: black;
}

.my-color {
  color: #faa356;
}

.linkLogo {
  font-size: 30px;
  color: black;
  font-weight: bold;
}

.bg-neu {
  background-color: #161b22;
}

.neu,
.neu-inset,
.neu-btn:hover,
.neu-input,
.neu-input:focus {
  color: #31344b;
  background-color: #161b22;
}

.neu,
.neu-input {
  box-shadow: 5px 5px 5px 0px #0d1117;
}

.neu-btn:hover,
.neu-inset,
.neu-input,
.neu-input:focus {
  color: #faa356;
  background-color: #0d1117;
  box-shadow: 5px 5px 5px 0px #161b22;
  border: 0.1px solid black;
}

.neu-input:focus {
  box-shadow: 5px 5px 5px 0px #0d1117;
}

.code {
  background-color: white;
  border: 1px solid #7ce38b;
  padding: 10px;
  font-family: monospace;
  overflow-x: auto;
  color: rgb(12, 12, 12);
  font-size: 14px;
  line-height: 1.5;
}

.neuhover:hover,
.n-active {
  color: #faa356;
  background-color: #0d1117;
  box-shadow: 5px 5px 5px 0px #161b22;
}
